@define-color dark-grey #292929;
@define-color burnt-yellow #645c3e;
@define-color black #000000;
@define-color white #E6E6E6;

@define-color ccyan #021B19;

@define-color term-win-bg           #262626;
@define-color term-tab-inactive-bg  #2C2D2C;
@define-color term-tab-active-bg    #424242;
@define-color ubuntu-orange         #Fb9267;


/*Terminal*/
TerminalWindow .notebook {
    border: 0;
    padding: 0;
}

TerminalWindow .notebook tab {
    border: 0;
    border-radius: 0px;
    border-image: -gtk-gradient (linear, left top, left bottom,
                                from (alpha (shade (@term-win-bg, 0.9), 0.0)),
                                to (shade (@term-win-bg, 0.9))) 1;
    border-image-width: 0 1px;
    border-color: black;
    border-width: 0;
    box-shadow: none;
    background-color: shade(@term-tab-inactive-bg, 1);
}


TerminalWindow .notebook tab:active {
    border: 0;
    border-radius: 0px;
    background-color: shade(@ccyan, 1);
}


TerminalTabLabel.active-page .label {
    /*color: @bg_color;
    font-weight: bold
    color: @ubuntu-orange; */
    color:  cyan;
}



/*
TerminalWindow .notebook tab:active {
    background-color:  shade(@black ,1);/* color of active tab }*/


/*
TerminalWindow .notebook tab {
    background-color: shade(@dark-grey,1); 
}/* color of inactive tab */
